<section>
        <div class="product-image-box">
            <div class="container">
                <div class="row">
                    <div class="welcome-box padtop">
                        <div class="title1">Career <span> With Us</span> </div>
                        <div class="product-image-box">
                            <div class="row">
                                <div class="form_box_new ">
                                    <div class="col-md-6 padrgt" style="float:right;">
                                        <p style="color:red;float:right;font-size:16px;"> <span style="font-size:100%;color:red;">&starf;</span>All fields are required</p>
                                    </div>
                                    <div id='contact_form_errorloc' class='error' style="color: red"></div>
                                    <form method="post" id="careerForm">
                                        <input type="text" placeholder="Your First Name" name="FirstName" />
                                        <input type="text" placeholder="Your Last Name" name="LastName" />
                                        <input type="email" placeholder="Your Email Address" name="email" />
                                        <input type="tel" placeholder="Your Phone No." name="tel" />
                                        <input type="text" placeholder="Applying For" name="applyingFor" />
                                        <input type="file" placeholder="Your CV" name="file1" /><span class="file_carrier" style="color:white;"> No File Choosen</span>
                                        <button type="submit" class="sum_btn hvr-bounce-to-top"> Submit </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- <div class="enquiry-btn-box"><button class="enquiry-btn"> Enquiry</button></div>--></div>
                </div>
            </div>
        </div>
    </section>