 <section>
        <div class="product-image-box">
            <div class="container">
                <div class="row">
                    <div class="welcome-box padtop">
                        <div class="title1"> Inquiry </div>
                        <div class="product-image-box">
                            <div class="map-box">
                                <div id="map-canvas" class="jumbotron"> </div>
                            </div>
                            <div class="row">
                                <div class="bg-contact">
                                    <div class="col-md-6 col-sm-6 marbtm wow bounceInLeft" data-wow-duration="1000ms">
                                        <div class="contact-title">
                                            <h3>Registered Office </h3> </div>
                                        <div class="contact-detail">
                                            <p> <i class="fa fa-map-marker"></i> Shivam Steels </p>
                                            <div class="address-box"> <span> Door No. 12/1, NA </span>
                                                <br/> <span> Vaishnavi Nagar, Bangalore Road, Hosur- (Tamilnadu)</span> </div>
                                            <p> <i class="fa fa-phone"></i> Ph:- <a href="tel:08144310001">081443 10001</a> </p>
                                            <p> <i class="fa fa-envelope-o"></i> E-mail – <a href="mailto:enquiry@shivamsteels.com ">enquiry@shivamsteels.com </a> </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 marbtm wow bounceInRight" data-wow-duration="1400ms">
                                        <div class="contact-title">
                                            <h3>Finance Division : </h3> </div>
                                        <div class="contact-detail">
                                            <p> <i class="fa fa-phone"></i>Ph:- <a href="tel:04272266971">0427-2266971</a> </p>
                                            <p> <i class="fa fa-phone"></i>Ph:- <a href="tel:09976490004">09976490004</a> </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 col-sm-6 marbtm wow bounceInRight" data-wow-duration="1200ms">
                                        <div class="contact-title">
                                            <h3>Branch Office </h3> </div>
                                        <div class="contact-detail">
                                            <p> <i class="fa fa-map-marker"></i> Shivam Steels</p>
                                            <div class="address-box"> <span> Door no. 4/702, 4/702-A </span>
                                                <br/> <span>Jai Nagar, Kalarampatti , Erumapalayam (Post) Salem- 636015 (TamilNadu)</span> </div>
                                            <p> <i class="fa fa-phone"></i> Ph:- <a href="tel:04272266970">0427- 2266970</a> </p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="marbtm top_space2">
                                            <div class="contact-title">
                                                <h3>Branch Office </h3> </div>
                                            <div class="contact-detail">
                                                <p> <i class="fa fa-map-marker"></i> Shivam Steels</p>
                                                <div class="address-box"> <span> Door No. 16, </span>
                                                    <br/> <span>Vincent Compound, P P Palyam Layout, Coimbatore</span> </div>
                                                <p> <i class="fa fa-phone"></i> Ph:- <a href="tel:08144310004">08144310004</a> </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 marbtm wow bounceInRight" data-wow-duration="1600ms">
                                        <div class="contact-title">
                                            <h3>Purchase Division : <br><span> (For any Stock availability & Orders) </span> </h3> </div>
                                        <div class="contact-detail">
                                            <p> <i class="fa fa-phone"></i>Ph:- <a href="tel:08144310002">08144310002</a> </p>
                                            <p> <i class="fa fa-phone"></i>Ph:- <a href="tel:09976490009">09976490009</a> </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 marbtm wow bounceInRight top_space2" data-wow-duration="1800ms">
                                        <div class="contact-title">
                                            <h3>Marketing Division : </h3> </div>
                                        <div class="contact-detail">
                                            <p> <i class="fa fa-phone"></i>Ph:- <a href="tel:08144310003">08144310003</a> </p>
                                            <p> <i class="fa fa-phone"></i>Ph:- <a href="tel:08144310004">08144310004</a> </p>
                                            <p> <i class="fa fa-phone"></i>Ph:- <a href="tel:08144310007">08144310007</a> </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                </div>
            </div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.

        function initialize() {
            var myLatlng = new google.maps.LatLng(12.7204233, 77.820006);
            var mapOptions = {
                zoom: 8,
                center: myLatlng
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h3 id="firstHeading" class="firstHeading">Shivam Steels</h3>' +
                '<div id="bodyContent">' +
                '<p>Door No. 12/1, NA ' +
                'Vaishnavi Nagar, Bangalore Road ' +
                'Hosur- (Tamilnadu), INDIA  </p>' +
                '</div>' +
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Shivam Steels'
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    </section>