 <section>
        <div class="product-image-box">
            <div class="container">
                <div class="row">
                    <div class="welcome-box no-pad">
                        <div class="title1"> Our <span> Products</span> </div>
                        <div class="product-image-box">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1000ms"><img src="/images/Patti Furniture Pipe Round.jpg" width="255" height="226" class="img-responsive" alt="Responsive image">
                                    <div class="black-title-box">
                                        <p>Furniture Pipes</p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1200ms"><img src="/images/CR Round Pipe.jpg" class="img-responsive" width="255" height="226" alt="Responsive image">
                                    <div class="black-title-box">
                                        <p>CR Tubes</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1400ms"><img src="/images/Coil HR Round Pipe.jpg" width="255" height="226" class="img-responsive" alt="Responsive image">
                                    <div class="black-title-box">
                                        <p>HR (Coil) Tubes</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1600ms"><img src="/images/product-img4.png" width="255" height="226" class="img-responsive" alt="Responsive image">
                                    <div class="black-title-box">
                                        <p>GI Pipes</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"><img src="/images/GP Pipes.jpg" class="img-responsive" width="255" height="226" alt="Responsive image">
                                    <div class="black-title-box">
                                        <p>GP Pipes</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"> <img src="/images/window_frame.jpg" width="255" height="226" class="img-responsive" alt="Window Frames ">
                                    <div class="black-title-box">
                                        <p>Window Frames </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"> <img src="/images/DoreFrames.jpg" width="255" height="226" class="img-responsive" alt="Dore Frames ">
                                    <div class="black-title-box">
                                        <p>Dore Frames </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"> <img src="/images/HRB&HRS.jpg" width="255" height="226" class="img-responsive" alt="HRB & HRS ">
                                    <div class="black-title-box">
                                        <p>HRB & HRS </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"> <img src="/images/OvelPipes.jpg" width="255" height="226" class="img-responsive" alt="Ovel Pipes ">
                                    <div class="black-title-box">
                                        <p>Ovel Pipes </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"> <img src="/images/DesignPipes.jpg" width="255" height="226" class="img-responsive" alt=" Design Pipes">
                                    <div class="black-title-box">
                                        <p> Design Pipes </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"> <img src="/images/Angels.jpg" width="255" height="226" class="img-responsive" alt=" Angels ">
                                    <div class="black-title-box">
                                        <p> Angels </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"> <img src="/images/RandomPipes.jpg" width="255" height="226" class="img-responsive" alt="Random Pipes ">
                                    <div class="black-title-box">
                                        <p>Random Pipes </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 marbtm wow bounceInUp" data-wow-duration="1800ms"> <img src="/images/FabricationPipes.jpg" width="255" height="226" class="img-responsive" alt=" Fabrication Pipes ">
                                    <div class="black-title-box">
                                        <p> Fabrication Pipes </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>