<!DOCTYPE html>
<html>
<head>  
    <title>Shivam Steels</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:100,300,500,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href='/css/owl-carousel.css' rel='stylesheet' type='text/css'>   
   
  </head>
<body>
<header>
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="header">
                        <div class="col-md-6 col-sm-6">
                            <div class="logo"><a href="/"><img src="https://dl.dropboxusercontent.com/s/ipyr6m8uqe8v0pf/logo.png?dl=0" class="img-responsive" width="235" height="86" alt="Responsive image">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 ">
                            <div class="social-link ">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/pages/Shivam-Steels/790219741094865" target="_blank"><img src="https://dl.dropboxusercontent.com/s/uexkc0swlo60t1t/fb.png?dl=0" width="46" height="46" class="img-responsive" alt="Responsive image"> </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/shivam_steels" target="_blank"><img src="https://dl.dropboxusercontent.com/s/1hxw9ftj4srtmae/twit.png?dl=0" class="img-responsive" alt="Responsive image" width="46" height="46" > </a>
                                    </li>
                                    <li>
                                        <a href=""><img src="https://dl.dropboxusercontent.com/s/u1zhi8m7rusjji1/google-plus.png?dl=0" width="46" height="46" class="img-responsive" alt="Responsive image"> </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </header>
    <nav>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="collapse navbar-collapse padzero" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active hvr-bounce-to-top"><a href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="hvr-bounce-to-top"><a href="/pages/about-us">About Us</a>
                            </li>
                            <li class="hvr-bounce-to-top"><a href="/pages/our-products">Our products </a>
                            </li>
                            <li class="hvr-bounce-to-top"><a href="/pages/enquiry">Enquiry</a>
                            </li>
                            <li class="hvr-bounce-to-top"><a href="/pages/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
<%= yield %>

 

 <footer>
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-md-3 col-sm-3">
                        <div class="footer-link-box">
                            <p>About</p>
                            <ul>
                                <li>
                                    <a href="/"> <i class="fa fa-angle-double-right"></i> Home </a>
                                </li>
                                <li>
                                    <a href="/pages/about-us"> <i class="fa fa-angle-double-right"></i> About Us </a>
                                </li>
                                <li>
                                    <a href="/pages/our-products"> <i class="fa fa-angle-double-right"></i> Product Details </a>
                                </li>
                                <li>
                                    <a href="/pages/career"> <i class="fa fa-angle-double-right"></i> Career </a>
                                </li>
                                <li>
                                    <a href="/pages/contact-us"> <i class="fa fa-angle-double-right"></i> Contact Us </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="footer-social-link ">
                            <p>Follow us on</p>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/pages/Shivam-Steels/790219741094865" target="_blank"> <span class="fa-stack fa-lg grey"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse black"></i> </span> </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/shivam_steels" target="_blank"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x grey"></i> <i class="fa fa-twitter fa-stack-1x fa-inverse black"></i> </span> </a>
                                </li>
                                <li>
                                    <a href="#"> <span class="fa-stack fa-lg "> <i class="fa fa-circle fa-stack-2x grey"></i> <i class="fa fa-google-plus fa-stack-1x fa-inverse black "></i> </span> </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-social-link " id="enquiry">
                            <div>
                                <div class="col-md-6 padleft">
                                    <p>Enquiry</p>
                                </div>
                                <div class="col-md-6 padrgt">
                                    <p style="color:red;"> <span style="font-size:100%;color:red;">&starf;</span>All fields are required</p>
                                </div>
                            </div>
                            <div id="result"></div>
                            <div id="contact_form_errorloc" class="error" style="color: red"></div>
                            <form method="POST" id="frmSubmit">
                                <div class="row">
                                    <div class="col-md-6 padrgt">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-font-size" id="name" placeholder="Name" name="name"> </div>
                                    </div>
                                    <div class="col-md-6 padlft">
                                        <div class="form-group">
                                            <input type="email" id="email" class="form-control input-font-size" placeholder="Email" name="email"> </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" id="message" class="form-control input-font-size" rows="3" placeholder="Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padrgt">
                                        <div class="form-group">
                                            <input type="number" class="form-control input-font-size" id="phone" placeholder="Phone" name="phone"> </div>
                                    </div>
                                    <div class="col-md-6 padlft">
                                        <div class=" col-md-6 padleft margin-btm">
                                            <div class="cap-image"> CAPTCHA</div>
                                        </div>
                                        <div class=" col-md-6 padright ">
                                            <div class="form-group">
                                                <input type="text" class="form-control input-font-size" id="6_letters_code" placeholder="Captcha Code" name="6_letters_code"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6 padlft" style="padding-left:0px !important;">
                                    <input type="file" name="file" multiple><span class="nofile" style="color:white;position:absolute;left:106px;top:2px;"> No File Choosen</span> </div>
                                <div class=" col-md-6 padright ">
                                    <button class="btn-default submit-btn hvr-bounce-to-top" type="submit" id="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div><a id="back-to-top" class="back-to-top" href="#." style="display: none;"><i class="fa fa-angle-up"></i></a> </div>
            </div>
        </div>
    </footer>
    <div class="bottom-line">
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-sm-6 col-md-6">
                        <div class="copyright">
                            <p> © 2015 Copyright Shivam steels | All Rights Reserved </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="copyright-viva"> Powered By <a href="http://www.vivacityinfotech.com/" target="_blank"> VivacityInfotech </a> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" ></script>
  
    <script language="JavaScript" src="/js/gen_validatorv31.js" type="text/javascript" ></script>
    !-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <script language="JavaScript" type="text/javascript">
        function refreshCaptcha()
        {
            var img = document.images['captchaimg'];
            img.src = img.src.substring(0,img.src.lastIndexOf("?"))+"?rand="+Math.random()*1000;
        }
    </script>
    <script type="text/javascript">
        var fileName="";
        jQuery(function() {
            jQuery("input:file").change(function (){
                fileName = $(this).val();
                jQuery(".filename").html(fileName);

                if(fileName)
                {

                    var text_test = $(".footer-social-link").find('span.nofile').html('File Selected');
                }	
                return false;
            });
        });


        jQuery('#frmSubmit').submit(function (e) {
            jQuery('.error').html('');

            jQuery.ajax({
                url: 'send_enquiry.php',
                type: 'POST',
                data: new FormData(this),
                processData: false,
                contentType: false
            })
                .done(function (msg) {
                //alert(msg);
                var res = msg.split("|"); 
                $('#contact_form_errorloc').append(res[0]);
                if(res[1] == 1)
                {
                    $("input[type=text],input[type=email], textarea").val("");
                }

            });
            e.preventDefault();
        });
    </script>

    <script type="text/javascript">

        jQuery(window).ready(function(){

            //toggle map
            jQuery(".map-title h4 span").click(function(e) {
                jQuery(".map iframe").slideToggle();  
                jQuery(".map-title h4 span i").toggleClass("fa-angle-up fa-angle-down");
            });

            jQuery(window).scroll(function(){
                if(jQuery(window).scrollTop() > 200){
                    jQuery("#back-to-top").fadeIn(200);
                } else{
                    jQuery("#back-to-top").fadeOut(200);
                }
            });

            jQuery('#back-to-top, .back-to-top').click(function() {
                jQuery('html, body').animate({ scrollTop:0 }, '800');
                return false;
            });


        });

    </script>
    <script language="JavaScript" src="/js/wow.js" ></script>
    <script>
        wow = new WOW(
            {
                animateClass: 'animated',
                offset:       100,
                callback:     function(box) {
                    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
                }
            }
        );
        wow.init();

    </script>	
</body>
</html>
